<VirtualHost *:80>
  DocumentRoot {{ document_root }}
  <Directory "{{ document_root }}">
    Options FollowSymLinks Indexes ExecCGI
    EnableMMAP Off
    EnableSendfile Off
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
